
.mainFxmlClass {
    -fx-background-image: url("../../../media/images/mainBackground.png");
    -fx-background-size: 100%;
}

.button{
    
    -fx-font: 24px "Abel";
    -fx-background-color: #BED5EE;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.grid-pane {
    -fx-background-color: #3C94F2;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.anchor-pane{
    
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.label-with-shadow {
    -fx-effect: dropshadow(gaussian, gray, 5, 0.0, 3, 3);
}
